@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row top-container py-5">
        <div class="col">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="assets/Billede.jpg" alt="billede af mig" style="width:150px;height:150px;"/>
            </div>
        </div>
        <div class="col-8 top-profiletext" id="top">
            Oliver Marinus Østerby
            <div>
            Data Tekniker & Programmør
            </div>
        </div>
</div>

<div class="row mid-container py-5 d-flex flex-row">
   <div class="col-lg-4 col-sm-12">
        <div class="mid-text">
         <h3 style="color:#FFA500">Kontakt</h3>
             <table class="w-100">
              <tr>
                <td>
                    <p>
                        +45 42656585
                    </p>
                    </td>
                </tr>
                <tr>
                <td>
                    <p>
                    Oliverosterby@hotmail.com
                    </p>
                    </td>
                </tr>
                <tr>
                <td>
                    <p>
                        Ny hammelmosevej 3
                    </p>
                 </td>
                </tr>
            </table>
            </div>
            
        <div class="mid-text">
            <h3>Sprog</h3>
            <div class="d-flex align-items-baseline w-100">
                <table class="w-100">
                    <tr>
                        <td>Dansk</td>
                        <td class="w-100">
                            <div class="d-flex align-items-baseline w-100">
                                <div class="dot-orange mx-1"></div>
                                <div class="dot-orange mx-1"></div>
                                <div class="dot-orange mx-1"></div>
                                <div class="dot-orange mx-1"></div>
                                <div class="dot-grey mx-1"></div>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td>Engelsk</td>
                        <td class="w-100">
                            <div class="d-flex align-items-baseline w-100">
                                <div class="dot-orange mx-1"></div>
                                <div class="dot-orange mx-1"></div>
                                <div class="dot-orange mx-1"></div>
                                <div class="dot-grey mx-1"></div>
                                <div class="dot-grey mx-1"></div>
                            </div>
                        </td>
                    </tr>

                    
                </table> 
            </div>
        </div>

        <div class="mid-text">
            <h3>Skills</h3>
            
            <ul>
                <li>C#</li>
                <li>HTML</li>
                <li>CSS</li>
                <li></li>
            </ul>
        </div>

        <div class="mid-text">
            <h3>Hobbyer</h3>
            <p>
            Fittness
            </p>
        </div>
   </div>
    <div class="col-8">
        <div class="row rmid-text">
         <h2>Om mig</h2> 
          <div class="col">
              Jeg er en dreng på 16 år, Jeg har siddet bag kassen i Meny det har jeg gjort det sidste år. Jeg har kørt motocross på eliteplan, så når jeg sætter mig nogle mål gøre jeg alt hvad jeg kan få at nå dem, Jeg er en meget aktiv ung mand og jeg elsker systemer. Jeg arbejder lige nu ved med24 på lageret
          </div>
        </div>
      
        <div class="row rmid-text my-5">
         <h2>Uddanelse</h2>
         <div class="col">
             <h4>
                   Techcollege, Aalborg
             </h4>
             
                 Jeg er i gang med at uddanne mig til programmør på linjen,data og kommunikation Grundforløb 2 - afslutter jeg 24/6/22
             
         </div>
         <div class="row-col">
             <h4>
                   Folkeskole
             </h4>
             
                 2021 - afsluttede 9 klasse
             
         </div>
        </div>
       
        <div class="row rmid-text">
        <h2>Erhvervserfaring</h2>
        <div class="col">
             <h4>
                   Meny, Løkken
             </h4>
         </div>
         <div class="row-col">
             <h4>
                   Med24, Løkken
             </h4>
         </div>
        </div>
       
        </div>
   </div>
